.menu {
  position: absolute;
  z-index: 2;
  background-color: #29292c;
  height: auto;
  width: 200px;
  right: 0;
  top: 10vh;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.669);
  display: none;
}
.showMenu {
  animation: menuAnimation 0.2s ease-in-out;
  display: block;
}
.menuItems {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  height: 2.5vh;
  font-size: 1.8vh;
  color: #c9c9c9;
  user-select: none;
}
.menuItems:hover {
  background-color: #343442;
  cursor: pointer;
}
@keyframes menuAnimation {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
